.card { width: 400px;
   height: 650px;
   background-color: blue;
   border-radius: 60px;
    transition: 1s;
}

.card:hover {
background-color: red;
 transition: 1s;
}

.photo{
height:40%;padding:40px
}

h1::first-line{color: deeppink;
    font-size: 50px;
    border-radius: 10px;
    background-color: bisque;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:
    padding: 20px;
    position: relative;
    top: 1px;
    left: 300px;
}

.info {
background-color: olivedrab;
font-size:  20px;
}

h1{position: relative;
    top: 1px;
    left: 20px;}

